* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}

body {
  max-height: 100vh;
  background: linear-gradient(to right, #ff0000, orange, yellow);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container h1 {
  margin: 2rem;
}

.inputs {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.583);
  border-radius: 20px;
}

.inputs input {
  margin: 5px;
  border-radius: 10px;
  width: 9rem;
  height: 2rem;
}

.inputs button {
  border-radius: 12px;
  height: 2rem;
  width: 6rem;
  margin: 3px;
  color: #fff;
  font-size: 1rem;
  background: linear-gradient(to right, rgb(255, 115, 0), rgb(255, 64, 0), red);
}
.inputs button:hover {
  color: #000;
  font-size: 0.5rem;
  background: linear-gradient(to right, #c8ff00, #fff200, #d4ff00);
}

.result {
  font-size: 3rem;
}
